@{
    ViewData["Title"] = "Contacts";
}

<section class="contactHead">
    <h1>Envie de collaborer ?</h1>
    <p>
        Vous recherchez un développeur motivé ?
        Je suis disponible pour discuter de vos besoins.
    </p>
</section>

<section>
    <div class="sectionContent contactContent">
        <article class="articleContactMe">
            <h2>
               <i class="fa-solid fa-envelope"></i>
               Me contacter
            </h2>
            <ul>
                <li>
                    <div class="iconLiContact">
                        <i class="fa-solid fa-at fa-xl"></i>
                    </div>
                    <a href="mailto:sriver@hotmail.fr" aria-label="envoyer un mail à Steven nouvel onglet" title="Envoyer un mail">
                        <p>Email</p>
                        <p>sriver@hotmail.fr</p>
                    </a>
                </li>
                <li>
                    <div class="iconLiContact">
                        <i class="fa-brands fa-linkedin fa-xl"></i>
                    </div>
                    <a target="_blank" href="https://www.linkedin.com/in/stevenriviere" rel="noopener noreferrer" aria-label="Profil LinkedIn nouvel onglet" title="LinkedIn">
                        <p>LinkedIn</p>
                        <p>in/stevenriviere</p>
                    </a>
                </li>
                <li>
                    <div class="iconLiContact">
                        <i class="fa-brands fa-github fa-xl"></i>
                    </div>
                    <a target="_blank" href="https://github.com/Steven-Riviere" rel="noopener noreferrer" aria-label="profil github nouvel onglet" title="GitHub">
                        <p>GitHub</p>
                        <p>Steven-Riviere</p>
                    </a>
                </li>
            </ul>
        </article>
        <article class="articleQuestions">
            <p class="question left">Une question sur qui je suis ?</p>
            <p class="question right">Vous voulez quelqu’un avec un nouveau regard sur vos projets ?</p>
            <p class="question left">Curieux de tester mes idées sur vos projets ?</p>
            <p class="question right">Des questions sur mon portfolio ?</p>
            <p class="question left">Une personne qui comprend mieux les besoins de vos clients en comptabilité/finance ?</p>
            <p class="question right">Prêt à découvrir mon potentiel ?</p>
            <p class="question left">Curieux(se) de découvrir mon profil ?</p>
            <p class="question right">Envie d'avoir un junior 100 % investi ?</p>
        </article>
    </div>
    <div class="centerCV">
        <a href="/docs/CV.pdf" target="_blank" aria-label="Ouvrir mon CV">
            Ouvrir mon CV
        </a>
    </div>
</section>