@{
    ViewData["Title"] = "Contacts";
}

<section>
    <h1>Envie de collaborer ?</h1>
    <p>
        Vous recherchez un développeur motivé ?
        Je suis disponible pour discuter de vos besoins.
    </p>
</section>

<section>
    <div class="sectionContent contactContent">
        <article class="articleContactMe">
            <h2>
               <i class="fa-solid fa-envelope"></i>
               Me contacter
            </h2>
            <ul>
                <li>
                    <div class="iconLiContact">
                        <i class="fa-solid fa-at fa-xl"></i>
                    </div>
                    <a href="mailto:sriver@hotmail.fr" aria-label="envoyer un mail à Steven nouvel onglet" title="Envoyer un mail">
                        <p>Email</p>
                        <p>sriver@hotmail.fr</p>
                    </a>
                </li>
                <li>
                    <div class="iconLiContact">
                        <i class="fa-solid fa-phone fa-xl"></i>
                    </div>
                    <a href="tel:+33643934681" aria-label="Appeler le 06 43 93 46 81" title="Téléphone">
                        <p>Téléphone</p>
                        <p>06 43 93 46 81</p>
                    </a>
                </li>
                <li>
                    <div class="iconLiContact">
                        <i class="fa-brands fa-linkedin fa-xl"></i>
                    </div>
                    <a target="_blank" href="https://www.linkedin.com/in/stevenriviere" rel="noopener noreferrer" aria-label="Profil LinkedIn nouvel onglet" title="LinkedIn">
                        <p>LinkedIn</p>
                        <p>in/stevenriviere</p>
                    </a>
                </li>
                <li>
                    <div class="iconLiContact">
                        <i class="fa-brands fa-github fa-xl"></i>
                    </div>
                    <a target="_blank" href="https://github.com/Steven-Riviere" rel="noopener noreferrer" aria-label="profil github nouvel onglet" title="GitHub">
                        <p>GitHub</p>
                        <p>Steven-Riviere</p>
                    </a>
                </li>
            </ul>
            <div class="whyMe">
                <h3>Mon profil vous intéresse ?</h3>
                <a href="/docs/CV.pdf"
                   target="_blank"
                   aria-label="Ouvrir mon CV">
                    Ouvrir mon CV
                </a>
            </div>
        </article>
        <article class="articleSendMeEmail">
            <h2>
                <i class="fa-solid fa-paper-plane"></i>
                Envoyez-moi un message
            </h2>
            <form id="contactForm" novalidate>
                <div>
                    <label for="name">Nom complet</label>
                    <input type="text" id="name" name="name" required placeholder="Votre nom complet" />
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="Votre email" />
                </div>

                <div>
                    <label for="subject">Objet</label>
                    <input type="text" id="subject" name="subject" required placeholder="Objet du message" />
                </div>

                <div>
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5" required placeholder="Votre message"></textarea>
                </div>

                <div>
                    <button type="submit">Envoyer
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>

                <p id="statusMessage"></p>
            </form>
        </article>
    </div>
</section>