@{
    ViewData["Title"] = "Contacts";
}


<section>
    <div class="sectionContent">
        <article class="articleInterestedInMyProfile">
            <div>
                <h2>Prêt à collaborer ?</h2>
                <p>Contactez-moi pour en parler.</p>
            </div>
            <button type="button" class="contactBtn flex-fill" aria-label="Me contacter par mail" onclick="window.location.href='/Contact'">
                Me contacter
                <i class="fa-solid fa-envelope"></i>
            </button>
        </article>
    </div>
</section>