<article class="cardProject cardProjectHorizontal">
    <div class="imageWrapper">
        <video id="demoVideo" controls>
            <source src="~/videos/Medicalib-demo.mp4" type="video/mp4">
        </video>
        <div class="cardIcons">
            <a href="https://github.com/Steven-Riviere/HealthRiskEngine" target="_blank" rel="noopener noreferrer">
                <img src="~/images/github-black.svg" alt="healthrisk-github" class="icon" />
            </a>
        </div>
    </div>
    <div class="cardProjectDescription">
        <h3>Médicalib</h3>
        <p>
            Application basée sur une architecture microservices pour gérer les patients et analyser leurs risques médicaux. <br />
            Plusieurs APIs (patients, notes, analyse de risques) sont orchestrées via une API Gateway (Ocelot) et conteneurisées avec Docker.
        </p>
        <p>
            <strong>Principaux défis :</strong> <br />
            - Intégrer un service d’analyse du cancer en complément du diabète, ce qui a entraîné des régressions côté frontend et API. <br />
            - Mettre en place une pipeline CI avec GitHub Actions pour exécuter automatiquement les tests, avec des échecs liés aux tests d’intégration utilisant MongoDB.
        </p>

        <p>
            <strong>Approches adoptées :</strong> <br />
            - Tests directs des endpoints, vérification des routes exposées et analyse des échanges HTTP pour identifier les régressions. <br />
            - Analyse des logs de pipeline et comparaison du comportement local vs CI pour diagnostiquer les erreurs de connexion à MongoDB.
        </p>

        <p>
            <strong>Solutions :</strong> <br />
            - Correction des routes, harmonisation des appels API et adaptation du frontend pour gérer plusieurs analyses. <br />
            - Mise en place d’une configuration robuste pour la CI :
            <br />&nbsp;&nbsp;• utilisation de variables d’environnement pour la connexion MongoDB
            <br />&nbsp;&nbsp;• correction du host (localhost vs service Docker)
            <br />&nbsp;&nbsp;• ajout d’une étape d’attente pour garantir la disponibilité de MongoDB avant les tests
        </p>

        <p>
            Ce projet m’a permis de renforcer mes compétences en architectures distribuées, en communication entre services et en mise en place de pipelines CI/CD fiables, avec une attention particulière aux tests d’intégration.
        </p>

        <ul class="tags" aria-label="technologies utilisées">
            <li class="tag">ASP.NET Core MVC (Razor)</li>
            <li class="tag">C#</li>
            <li class="tag">Visual Studio</li>
			<li class="tag">Docker</li>
        </ul>
    </div>
</article>

<article class="cardProject cardProjectHorizontal">
    <div class="imageWrapper">
        <video id="demoVideo" controls>
            <source src="~/videos/PretImmo-demo.mp4" type="video/mp4">
        </video>
        <div class="cardIcons">
            <a href="https://github.com/Steven-Riviere/AmortizationCalculator" target="_blank" rel="noopener noreferrer">
                <img src="~/images/github-black.svg" alt="amortization-github" class="icon" />
            </a>
            <a href="https://pretimmosimulation.onrender.com/" target="_blank" rel="noopener noreferrer">
                <img src="~/images/arrow.svg" alt="siteweb" class="icon" />
            </a>
        </div>
    </div>
    <div class="cardProjectDescription">
        <h3>Prêt Immobilier</h3>
        <p>
            Simulation de prêt immobilier prenant en compte durée, taux, assurance et différé de remboursement.<br />
            Le calcul génère un tableau d’amortissement détaillé et un export PDF des résultats.
        </p>
        <p>
            <strong>Principaux défis :</strong> <br /> 
            - Gérer correctement le différé de remboursement avec assurance active.<br />
            - Répercussion du différé sur  la durée initiale du prêt.
        </p>
        <p>
            <strong>Solutions adoptées :</strong><br />
            - Décomposition du calcul en deux phases : différé puis remboursement classique<br />
            - Ajustement des calculs mois par mois pour refléter la réalité financière
        </p>
		<p>
            Cette approche a permis une logique fiable et évolutive, tout en approfondissant la compréhension des mécanismes financiers.
        </p>

        <ul class="tags" aria-label="technologies utilisées">
            <li class="tag">QuestPDF</li>
            <li class="tag">ASP.NET Core MVC (Razor)</li>
            <li class="tag">C#</li>
            <li class="tag">Visual Studio</li>
            <li class="tag">Render</li>
        </ul>
    </div>
</article>

<article class="cardProject cardProjectHorizontal">
    <div class="imageWrapper">
        <img src="~/images/ecomod.webp" alt="Capture d'écran d'un mod de coopération du jeu Eco sur les boites aux lettres" class="cardImage" />
        <div class="cardIcons">
            <a href="https://github.com/Steven-Riviere/Eco-Mod" target="_blank" rel="noopener noreferrer">
                <img src="~/images/github-black.svg" alt="mod-github" class="icon" />
            </a>
            <a href="https://mod.io/g/eco?_sort=name" target="_blank" rel="noopener noreferrer">
                <img src="~/images/arrow.svg" alt="modio" class="icon" />
            </a>
        </div>
    </div>
    <div class="cardProjectDescription">
        <h3>Eco-Mod BAL</h3>
        <p>
            Mod pour le jeu ECO, ajoutant plusieurs types de boîtes aux lettres adaptées aux différents niveaux de progression et ressources.
        </p>
        <p>
            Publié sur
            <a href="https://mod.io/g/eco?_sort=name" target="_blank" rel="noopener noreferrer">mod.io</a>,
            permettant à la communauté de les utiliser.
        </p>
        <p>
            <strong>Principal défi :</strong><br />
            Certains éléments visuels ne s’affichaient pas correctement en jeu.
        </p>
		<p>
            <strong>Solution :</strong><br />
            - Collaboration avec l’équipe pour identifier les problèmes<br />
            - Tests en conditions réelles et validation des corrections
        </p>
        <p>
            Ce projet m’a permis de travailler en équipe, de comprendre les contraintes du modding et d’expérimenter un workflow collaboratif.
        </p>

        <ul class="tags" aria-label="technologies utilisées">
            <li class="tag">Eco Modding</li>
            <li class="tag">Unity</li>
            <li class="tag">C#</li>
            <li class="tag">Visual Studio</li>
        </ul>
    </div>
</article>
