@{
    ViewData["Title"] = "Intro";
}

<section class="headTitle">
    <h1>Mes projets</h1>
    <p>Découvrez une sélection de mes projets, alliant des besoins réels et ergonomie.</p>
</section>

<section>
    <div class="sectionContent">
        <div class="articleAllProjects" aria-label="voir l'ensemble des projets">
            <div class="listAllProjects">
                @await Html.PartialAsync("_ProjectsDotNet")
                @await Html.PartialAsync("_ProjectsJava")
               
            </div>
        </div>
    </div>
</section>