<article class="cardProject cardProjectHorizontal">
    <div class="imageWrapper">
        <img src="~/images/pretimmosimulator.webp" alt="Capture d'écran du projet PretImmo Simulator" class="cardImage" />
        <div class="cardIcons">
            <a href="https://github.com/Steven-Riviere/AmortizationCalculator" target="_blank" rel="noopener noreferrer">
                <img src="~/images/github-black.svg" alt="amortization-github" class="icon" />
            </a>
            <a href="https://pretimmosimulator.azurewebsites.net/" target="_blank" rel="noopener noreferrer">
                <img src="~/images/arrow.svg" alt="siteweb" class="icon" />
            </a>
        </div>
    </div>
    <div class="cardProjectDescription">
        <h3>Prêt Immobilier</h3>
        <p>
            Le projet "Prêt Immo Simulator" permet de simuler un prêt immobilier avec ou sans assurance.
            L’utilisateur renseigne les paramètres du prêt : date de début, différé, taux, durée, etc.
            Le calcul génère un récapitulatif complet par année, avec le détail mensuel des paiements, intérêts, assurance et capital remboursé.
            Chaque année peut être consultée dans une modale dédiée pour plus de lisibilité.
            Il est également possible de télécharger le résultat en PDF grâce à QuestPDF.
            Le projet est déployé et fonctionnel en ligne.
        </p>
        <ul class="tags" aria-label="technologies utilisées">
            <li class="tag">QuestPDF</li>
            <li class="tag">ASP.NET Core MVC (Razor)</li>
            <li class="tag">C#</li>
            <li class="tag">Visual Studio</li>
            <li class="tag">Render</li>
        </ul>
    </div>
</article>

<article class="cardProject cardProjectHorizontal">
    <div class="imageWrapper">
        <img src="~/images/ecomod.webp" alt="Capture d'écran d'un mod de coopération du jeu Eco sur les boites aux lettres" class="cardImage" />
        <div class="cardIcons">
            <a href="https://github.com/Steven-Riviere/Eco-Mod" target="_blank" rel="noopener noreferrer">
                <img src="~/images/github-black.svg" alt="mod-github" class="icon" />
            </a>
            <a href="https://mod.io/g/eco?_sort=name" target="_blank" rel="noopener noreferrer">
                <img src="~/images/arrow.svg" alt="modio" class="icon" />
            </a>
        </div>
    </div>
    <div class="cardProjectDescription">
        <h3>Eco-Mod BAL</h3>
        <p>
            Ce projet a été développé avec une équipe de volontaires passionnés, composée de développeurs et de contributeurs de la communauté,
            dans le but de créer un mod de boîtes aux lettres pour le jeu vidéo ECO.
            Le mod propose 4 types de boîtes aux lettres différentes, adaptées au niveau des joueurs et aux matériaux disponibles,
            offrant ainsi plus de variété et une expérience de jeu enrichie.
            Le mod a été publié sur
            <a href="https://mod.io/g/eco?_sort=name" target="_blank" rel="noopener noreferrer">mod.io</a>,
            permettant à la communauté de découvrir et d’utiliser ces ajouts dans leurs parties.
        </p>
        <ul class="tags" aria-label="technologies utilisées">
            <li class="tag">Eco Modding</li>
            <li class="tag">Unity</li>
            <li class="tag">C#</li>
            <li class="tag">Visual Studio</li>
        </ul>
    </div>
</article>
