<article class="cardProject cardProjectHorizontal">
    <div class="imageWrapper">
        <img src="~/images/suivi-depenses-graphique.webp" alt="Capture d'écran du projet de suivi des dépenses" class="cardImage" />
        <div class="cardIcons">
            <a href="https://github.com/Steven-Riviere/Suivi-Depenses/tree/main" target="_blank" rel="noopener noreferrer">
                <img src="~/images/github-black.svg" alt="depenses" class="icon" />
            </a>
        </div>
    </div>
    <div class="cardProjectDescription">
        <h3>Suivi des dépenses</h3>
        <p>
            Ce projet "Budget Personnel" permet de suivre facilement ses dépenses et de gérer un budget au quotidien.
            L'utilisateur peut saisir, modifier et catégoriser ses dépenses pour obtenir un aperçu précis de ses finances.
            L'application génère un camembert illustrant la répartition des dépenses par catégorie, et permet de visualiser un exemple de dépense sélectionnée.
            Le tout offre un suivi simple et intuitif pour mieux planifier son budget personnel.
        </p>

        <ul class="tags" aria-label="technologies utilisées">
            <li class="tag">Java</li>
            <li class="tag">Swing</li>
            <li class="tag">Intellij</li>
        </ul>
    </div>
</article>

<article class="cardProject cardProjectHorizontal">
    <div class="imageWrapper">
        <img src="~/images/conversion-unites.webp" alt="Capture d'écran du projet de conversion d'unités" class="cardImage" />
        <div class="cardIcons">
            <a href="https://github.com/Steven-Riviere/UnitConverter" target="_blank" rel="noopener noreferrer">
                <img src="~/images/github-black.svg" alt="depenses" class="icon" />
            </a>
        </div>
    </div>
    <div class="cardProjectDescription">
        <h3>Convertisseur d'unités</h3>
        <p>
            Ce projet "Convertisseur d'unités" permet de convertir toutes sortes d'unités,
            qu'il s'agisse de cuillères à café en litres ou de miles en kilomètres.
            Un historique des conversions est conservé pour l'utilisateur, avec la possibilité de supprimer chaque entrée individuellement.
            Pratique notamment lors de la réalisation de recettes de cuisine.
        </p>

        <ul class="tags" aria-label="technologies utilisées">
            <li class="tag">Java</li>
            <li class="tag">Swing</li>
            <li class="tag">Intellij</li>
        </ul>
    </div>
</article>

<article class="cardProject cardProjectHorizontal">
    <div class="imageWrapper">
        <img src="~/images/ManageMenus.webp" alt="Capture d'écran du projet de la gestion d'un restaurant" class="cardImage" />
        <div class="cardIcons">
            <a href="https://github.com/Steven-Riviere/RestaurantManagementSystem" target="_blank" rel="noopener noreferrer">
                <img src="~/images/github-black.svg" alt="depenses" class="icon" />
            </a>
        </div>
    </div>
    <div class="cardProjectDescription">
        <h3>Gestion du Restaurant</h3>
        <p>
            Le projet "Gestion du Restaurant" permet de gérer l’ouverture et la fermeture d’un restaurant ainsi que l’organisation de ses menus.
            Il offre la possibilité d’ajouter et modifier les tables, de créer différents menus avec leurs noms et prix respectifs,
            et d’assurer un suivi structuré des éléments constituant le restaurant.
        </p>

        <ul class="tags" aria-label="technologies utilisées">
            <li class="tag">Java</li>
            <li class="tag">Swing</li>
            <li class="tag">Intellij</li>
        </ul>
    </div>
</article>
