@{
    ViewData["Title"] = "FormationCTA";
}

<section class="myDiplomas">
    <div>
        <article class="articleMyDiplomas" aria-label="mes diplômes">
            <div>
                <h2 id="my-diplomas">Formations Clés</h2>
            </div>
            <div></div>
            <div class="diplomas">
                <div class="diplomasContent">
                    <div>
                        <h3>Titre professionnel Développeur Web – Niveau 5 (équivalent Bac+2)</h3>
                        <p>2024/2025</p>
                    </div>
                </div>
                <div class="diplomasContent">
                    <div>
                        <h3>Titre professionnel Développeur Concepteur Logiciel – Niveau 6 (équivalent Bac+3/+4)</h3>
                        <p>2025</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<section>
    <div class="sectionContent collaborateTogether">
        <article class="readyCollaborate" aria-label="Collaborer ensemble">
            <div>
                <h2>Travaillons ensemble</h2>
                <p>Découvrez mes réalisations et discutons-en autour d’un entretien</p>
            </div>
            <div class="readyToCollaborateAction">
                <button type="button" aria-label="Voir tous mes projets">
                    Voir mes projets
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                <button type="button" class="contactBtn" aria-label="Me contacter par mail">
                    Me contacter
                    <i class="fa-solid fa-envelope"></i>
                </button>
            </div>
        </article>
    </div>
</section>
