@{
    ViewData["Title"] = "Skills";
}

<section>
    <div class="sectionContent myTechnicalSkillsContent">
        <article class="articleMyTechnicalSkills">
            <div>
                <h2>Mes compétences techniques</h2>
                <p>Frameworks, langages et outils que j’utilise pour développer et déployer des applications web et back-office</p>
            </div>

            <div class="technicalSkills">
                <div class="technicalSkillsContent">
                    <h3>
                        Front-end (bases / intégration)
                    </h3>
                    <ul class="technicalSkillsUl">
                        <li>React (JavaScript)</li>
                        <li>Tailwind CSS</li>
                        <li>Bootstrap</li>
                        <li>JavaScript (ES6+)</li>
                    </ul>
                </div>

                <div class="technicalSkillsContent">
                    <h3>
                        Back-end (spécialité)
                    </h3>
                    <ul class="technicalSkillsUl">
                        <li>C# / ASP.NET Core</li>
                        <li>Node.js (Express)</li>
                        <li>API REST</li>
                        <li>MongoDB</li>

                    </ul>
                </div>

                <div class="technicalSkillsContent">
                    <h3>
                        Outils et environnements
                    </h3>
                    <ul class="technicalSkillsUl">
                        <li>Git / GitHub</li>
                        <li>Notion</li>
                        <li>Docker</li>
                        <li>Figma</li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>