@{
    ViewData["Title"] = "Skills";
}

<section>
    <div class="sectionContent myTechnicalSkillsContent">
        <article class="articleMyTechnicalSkills">
            <div>
                <h2>Mes compétences techniques</h2>
                <p>Les technologies et outils que j'utilise</p>
            </div>

            <div class="technicalSkills">
                <div class="technicalSkillsContent">
                    <h3>
                        Front-end
                    </h3>
                    <ul class="technicalSkillsUl">
                        <li>React</li>
                        <li>Next</li>
                        <li>Tailwind</li>
                        <li>Bootstrap</li>
                        <li>JavaScript</li>
                    </ul>
                </div>

                <div class="technicalSkillsContent">
                    <h3>
                        Back-end
                    </h3>
                    <ul class="technicalSkillsUl">
                        <li>Node</li>
                        <li>Java</li>
                        <li>C# / .NET</li>
                        <li>API REST</li>
                        <li>MongoDB</li>
                    </ul>
                </div>

                <div class="technicalSkillsContent">
                    <h3>
                        Outils
                    </h3>
                    <ul class="technicalSkillsUl">
                        <li>Git /GitHub</li>
                        <li>Notion</li>
                        <li>Swagger</li>
                        <li>Docker</li>
                        <li>Figma</li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>