
@{
    ViewData["Title"] = "Intro";
}

<section class="intro">
    <div class="sectionContent presentationContent">
        <article class="presentation" aria-label="Présentation">
            <div>
                <h1>
                    Développeur Fullstack 
                </h1>
                <h2>.NET</h2>
            </div>
            <p>
                Développeur fullstack spécialisé en environnement .NET, je conçois des applications complètes du back-end structuré à l’interface utilisateur fluide.
                Mon approche allie rigueur technique et sens du fonctionnel pour créer des solutions fiables, claires et utiles aux utilisateurs.
            </p>
            <p>
                Issu d’un parcours en comptabilité, je garde une forte sensibilité métier, notamment sur les projets fintech et orientés gestion.
            </p>
            <div class="action">
                <button type="button" aria-label="Voir mes projets" onclick="window.location.href='/Projects'">
                    Voir mes projets
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                <button type="button" class="contactBtn" aria-label="Me contacter par mail" onclick="window.location.href='/Contact'">
                    Me contacter
                    <i class="fa-solid fa-envelope"></i>
                </button>
            </div>
            <nav class="iconsFooter" aria-label="Liens vers RS et contacts">
                <ul class="mediaList">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/stevenriviere" rel="noopener noreferrer" aria-label="Profil LinkedIn nouvel onglet" title="LinkedIn">
                            <i class="fa-brands fa-linkedin fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/Steven-Riviere" rel="noopener noreferrer" aria-label="profil github nouvel onglet" title="GitHub">
                            <i class="fa-brands fa-github fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:sriver@hotmail.fr" aria-label="envoyer un mail à Steven nouvel onglet" title="Envoyer un mail">
                            <i class="fa-solid fa-envelope fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/docs/CVStevenRiviere.pdf" download rel="noreferrer noopener" aria-label="télécharger le CV" title="Télécharger le CV">
                            <i class="fa-solid fa-file fa-xl"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </article>
        <article class="cardMe" aria-label="Présentation de Steven">
            <img src="~/images/profil.webp" alt="Portrait" />
            <div class="cardMeContent">
                <h3>Steven Rivière</h3>
                <h4>Développeur Fullstack .NET</h4>
                <div class="iconsCardMe" aria-label="Compétences techniques">
                    <a href="https://dotnet.microsoft.com/" target="_blank" rel="noopener noreferrer" aria-label="dotnet" title="Dotnet">
                        <img src="~/images/net.webp" alt="dotnet" class="icon" />
                    </a>

                    <a href="https://www.oracle.com/java/" target="_blank" rel="noopener noreferrer" aria-label="Java" title="Java">
                        <img src="~/images/java.svg" alt="java" class="icon" />
                    </a>

                    <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer" aria-label="JavaScript" title="JavaScript">
                        <img src="~/images/js.svg" alt="javascript" class="icon" />
                    </a>

                    <a href="https://github.com/Steven-Riviere" target="_blank" rel="noopener noreferrer" aria-label="profil github nouvel onglet" title="GitHub">
                        <img src="~/images/github.svg" alt="github" class="icon" />
                    </a>
                </div>
                <div class="stats" aria-label="Statistiques">
                    <div>
                        <p aria-label="10 projets">10+</p>
                        <p>Projets</p>
                    </div>
                    <div>
                        <p aria-label="années d'expériences">6</p>
                        <p>mois d'expérience</p>
                    </div>
                    <div>
                        <p aria-label="Motivation">100%</p>
                        <p>Motivations</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>