@{
    ViewData["Title"] = "Techno";
}
<section class="technoSection">
    <br />
    <div class="sectionContent technoContent">
        <article class="prefTechno">
            <div>
                <h2>Technologies préférées</h2>
                <p>Un large choix de stack moderne pour développer vos applications web</p>
            </div>
            <ul class="iconsTech">
                <li class="iconsPrefTech">
                    <img src="~/images/net.png" alt="dotnet" class="icon" />
                    <p>.NET</p>
                </li>
                <li class="iconsPrefTech">
                    <img src="~/images/java.svg" alt="java" class="icon" />
                    <p>Java</p>
                </li>
                <li class="iconsPrefTech">
                    <img src="~/images/js.svg" alt="javascript" class="icon" />
                    <p>JavaScript</p>
                </li>
                <li class="iconsPrefTech">
                    <img src="~/images/react.svg" alt="react" class="icon" />
                    <p>React</p>
                </li>
                <li class="iconsPrefTech">
                    <img src="~/images/git.svg" alt="react" class="icon" />
                    <p>Git</p>
                </li>
                <li class="iconsPrefTech">
                    <img src="~/images/sql.svg" alt="react" class="icon" />
                    <p>SQL</p>
                </li>
            </ul>
            <button type="button" aria-label="Voir toutes mes techno" onclick="window.location.href='/About'">
                Voir toutes les technos
                <i class="fa-solid fa-arrow-right"></i>
            </button>

        </article>
    </div>
    <br />
</section>