@{
    ViewData["Title"] = "Tools & Environment";
}
<section class="toolsSection">
    <br />
    <div class="sectionContent toolsContent">
        <article class="toolsArticle">
            <div>
                <h2>Outils et Environnement</h2>
                <p>Outils et environnements que j’utilise pour le développement, le versioning et le déploiement.</p>
            </div>
            <ul class="iconsTools">
                <li class="iconsTool">
                    <img src="~/images/sql.svg" alt="sql" class="icon" />
                    <p>BDD</p>
                </li>
                <li class="iconsTool">
                    <img src="~/images/docker.svg" alt="Docker" class="icon" />
                    <p>Docker</p>
                </li>
                <li class="iconsTool">
                    <img src="~/images/github-actions.svg" alt="GitHub Actions" class="icon" />
                    <p>GitHub Actions (CI/CD)</p>
                </li>
                <li class="iconsTool">
                    <img src="~/images/vscode.svg" alt="VS Code" class="icon" />
                    <p>Visual Studio Code</p>
                </li>
                <li class="iconsTool">
                    <img src="~/images/visual-studio.svg" alt="Visual Studio" class="icon" />
                    <p>Visual Studio</p>
                </li>
            </ul>

            <button type="button" aria-label="Voir le stack complet" onclick="window.location.href='/About'">
                Voir toutes les technos
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </article>
    </div>
    <br />
</section>
