@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="intro">
    <div class="sectionContent presentationContent">
        <article class="presentation" aria-label="Présentation">
            <div>
                <h1>
                    Développeur Back-end
                </h1>
                <h2>.NET - Java</h2>
            </div>
            <p>
                Développeur back-end, je m'occupe de comprendre vos besoins et de les transformer en applications efficaces.
                Mon analyse me permet de structurer des solutions adaptées à vos usagers.
            </p>
            <div class="action">
                <button type="button" aria-label="Voir mes projets">
                    Voir mes projets
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                <button type="button" aria-label="Me contacter par mail">
                    Me contacter
                    <i class="fa-solid fa-envelope"></i>
                </button>
            </div>
            <nav class="iconsFooter" aria-label="Liens vers RS et contacts">
                <ul class="mediaList">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/stevenriviere" rel="noopener noreferrer" aria-label="Profil LinkedIn nouvel onglet" title="LinkedIn">
                            <i class="fa-brands fa-linkedin fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/Steven-Riviere" rel="noopener noreferrer" aria-label="profil github nouvel onglet" title="GitHub">
                            <i class="fa-brands fa-github fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:sriver@hotmail.fr" aria-label="envoyer un mail à Steven nouvel onglet" title="Envoyer un mail">
                            <i class="fa-solid fa-envelope fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+33643934681" aria-label="Appeler le 06 43 93 46 81" title="Téléphone">
                            <i class="fa-solid fa-phone fa-xl"></i>
                        </a> 
                    </li>
                    <li>
                        <a href="/CV Steven backend.pdf" target="_blank" rel="noreferrer noopener" aria-label="Consulter le CV nouvel onglet" title="Lire mon CV">
                            <i class="fa-solid fa-file fa-xl"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </article>
        <article class="cardMe" aria-label="Présentation de Steven">
            <img src="~/images/profil.jpg" alt="Portrait"/>
            <div class="cardMeContent">
                <h3>Steven Rivière</h3>
                <h4>Développeur Back-end</h4>
                <div class="iconsCardMe" aria-label="Compétences techniques">
                    <a href="https://dotnet.microsoft.com/" target="_blank" rel="noopener noreferrer" aria-label="dotnet" title="Dotnet">
                        <img src="~/images/net.png" alt="dotnet" class="icon"/>
                    </a>

                    <!-- Java -->
                    <a href="https://www.oracle.com/java/" target="_blank" rel="noopener noreferrer" aria-label="Java" title="Java">
                        <img src="~/images/java.svg" alt="java" class="icon" />
                    </a>

                    <!-- JavaScript -->
                    <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer" aria-label="JavaScript" title="JavaScript">
                        <img src="~/images/js.svg" alt="java" class="icon" />
                    </a>

                    <!-- GitHub -->
                    <a href="https://github.com" target="_blank" rel="noopener noreferrer" aria-label="GitHub">

                    </a>
                </div>
            </div>
        </article>
    </div>
</section>
