@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="intro">
    <div class="sectionContent presentationContent">
        <article class="presentation" aria-label="Présentation">
            <div>
                <h1>
                    Développeur Back-end
                </h1>
                <h2>.NET - Java</h2>
            </div>
            <p>
                Développeur back-end, je m'occupe de comprendre vos besoins et de les transformer en applications efficaces.
                Mon analyse me permet de structurer des solutions adaptées à vos usagers.
            </p>
            <div class="action">
                <button type="button" aria-label="Voir mes projets">
                    Voir mes projets
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                <button type="button" aria-label="Me contacter par mail">
                    Me contacter
                    <i class="fa-solid fa-envelope"></i>
                </button>
            </div>
            <nav class="iconsFooter" aria-label="Liens vers RS et contacts">
                <ul class="mediaList">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/stevenriviere" rel="noopener noreferrer" aria-label="Profil LinkedIn nouvel onglet" title="LinkedIn">
                            <i class="fa-brands fa-linkedin fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/Steven-Riviere" rel="noopener noreferrer" aria-label="profil github nouvel onglet" title="GitHub">
                            <i class="fa-brands fa-github fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:sriver@hotmail.fr" aria-label="envoyer un mail à Steven nouvel onglet" title="Envoyer un mail">
                            <i class="fa-solid fa-envelope fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+33643934681" aria-label="Appeler le 06 43 93 46 81" title="Téléphone">
                            <i class="fa-solid fa-phone fa-xl"></i>
                        </a> 
                    </li>
                    <li>
                        <a href="/CV Steven backend.pdf" target="_blank" rel="noreferrer noopener" aria-label="Consulter le CV nouvel onglet" title="Lire mon CV">
                            <i class="fa-solid fa-file fa-xl"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </article>
        <article class="cardMe" aria-label="Présentation de Steven">
            <img src="~/images/profil.jpg" alt="Portrait"/>
            <div class="cardMeContent">
                <h3>Steven Rivière</h3>
                <h4>Développeur Back-end</h4>
                <div class="iconsCardMe" aria-label="Compétences techniques">
                    <a href="https://dotnet.microsoft.com/" target="_blank" rel="noopener noreferrer" aria-label="dotnet">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                            <title>.NET</title>
                            <path d="M64 0C28.7 0 0 28.7 0 64s28.7 64 64 64 64-28.7 64-64S99.3 0 64 0zm0 118C33 118 10 95 10 64S33 10 64 10s54 23 54 54-23 54-54 54z" />
                            <text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" font-size="40" font-family="Arial" font-weight="bold">.NET</text>
                        </svg>
                    </a>

                    <!-- Java -->
                    <a href="https://www.oracle.com/java/" target="_blank" rel="noopener noreferrer" aria-label="java">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                            <title>Java</title>
                            <path fill="currentColor" d="M23.112 18.175c-1.21 2.578-3.634 4.049-3.634 4.049s.874-.111 2.53.545c1.634.65 2.482 1.701 2.482 1.701s-.746-2.593 2.357-5.566c3.106-2.973 1.637-6.366 1.637-6.366s-3.768 1.51-5.372 5.637zM33.27 28.627c.14.145.223.304.246.479.088.62-.406 1.274-1.486 1.75-2.662 1.164-9.471 1.52-13.477.93-2.991-.44-3.908-1.51-3.908-1.51s-.602.347-.884.646c-.277.293-.293.548-.293.548s1.134 1.513 5.15 2.08c6.396.904 16.372-.217 17.363-4.235.162-.667-.086-1.19-.086-1.19s-.422.14-1.625.502zM18.808 24.435c-1.457.35-2.188.826-2.188.826s.492.672 2.356.94c2.756.393 7.228.301 11.344-1.211 0 0-2.268-1.135-6.4-1.238-1.882-.049-3.697.125-5.112.683zM27.145 34.65c-4.104.744-9.176.652-12.365-.193-3.292-.885-3.52-2.211-3.52-2.211s-.861 1.246-.295 2.178c.568.932 2.521 2.004 5.943 2.539 4.586.713 11.421.439 16.434-1.297 0 0-1.012 1.012-3.07 1.797-1.594.598-3.293 1.064-5.127 1.187-4.232.283-8.736-.33-11.623-1.67-2.367-1.098-3.078-2.328-3.078-2.328s.076 1.557 2.418 2.934c3.707 2.193 9.574 2.557 14.732 1.535 3.99-.816 6.707-2.377 6.707-2.377s-.961.873-3.213 1.842c-2.252.969-4.875 1.537-8.037 1.635-2.553.08-4.662-.094-6.994-.623-2.936-.662-5.1-1.953-5.1-1.953s1.234 2.064 5.295 3.074c4.316 1.082 11.186.91 15.771-1.236 4.799-2.258 6.076-5.6 6.076-5.6s-2.43 1.719-5.727 2.586z" />
                        </svg>
                    </a>

                    <!-- JavaScript -->
                    <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer" aria-label="JavaScript">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                            <title>JavaScript</title>
                            <path d="M1.408 1.408h125.184v125.185H1.408z" />
                            <path d="M116.094 116.094V11.906H11.906v104.188z" fill="currentColor" />
                            <path d="M68.364 97.543c0 10.236-5.988 14.9-14.732 14.9-7.896 0-12.46-4.061-14.807-8.97l7.893-4.811c1.523 2.705 2.913 4.99 6.267 4.99 3.2 0 5.259-1.252 5.259-6.142V59.605h10.12zM87.658 112.443c-9.25 0-15.217-4.403-18.125-10.178l7.894-4.56c2.073 3.38 4.787 5.86 9.574 5.86 4.027 0 6.594-2.016 6.594-4.787 0-3.327-2.626-4.51-7.063-6.458l-2.423-1.041c-7-2.982-11.656-6.746-11.656-14.674 0-7.301 5.548-12.86 14.211-12.86 6.165 0 10.602 2.145 13.8 7.745l-7.55 4.842c-1.66-2.982-3.45-4.162-6.25-4.162-2.845 0-4.65 1.805-4.65 4.162 0 2.918 1.805 4.1 5.965 5.86l2.423 1.04c8.25 3.543 12.9 7.146 12.9 15.258.002 8.729-6.87 13.996-16.521 13.996z" />
                        </svg>
                    </a>

                    <!-- GitHub -->
                    <a href="https://github.com" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <title>GitHub</title>
                            <path d="M12 .3C5.37.3 0 5.67 0 12.29c0 5.29 3.438 9.774 8.205 11.364.6.112.82-.26.82-.577v-2.234c-3.338.727-4.033-1.61-4.033-1.61-.546-1.39-1.333-1.76-1.333-1.76-1.089-.746.082-.73.082-.73 1.205.086 1.84 1.236 1.84 1.236 1.07 1.834 2.809 1.304 3.495.997.107-.787.418-1.305.76-1.605-2.665-.309-5.467-1.361-5.467-6.056 0-1.338.467-2.431 1.235-3.289-.124-.308-.536-1.552.117-3.234 0 0 1.007-.322 3.3 1.26a11.48 11.48 0 013.004-.404c1.02.005 2.047.137 3.004.404 2.293-1.582 3.298-1.26 3.298-1.26.655 1.682.243 2.926.12 3.234.77.858 1.233 1.951 1.233 3.289 0 4.705-2.806 5.743-5.478 6.047.43.37.81 1.103.81 2.222v3.293c0 .318.218.694.825.576C20.565 22.06 24 17.578 24 12.29 24 5.67 18.627.3 12 .3z" />
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>
